/* Estilos generales para la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: center;
}

/* Estilos para la imagen */
img {
  display: block;
  margin: 0 auto; /* Centrar la imagen horizontalmente */
  max-width: 100%; /* Ajustar la imagen al ancho del contenedor */
  height: auto; /* Mantener la proporción de aspecto */
}

/* Estilos para el texto */
.responsive-text {
  text-align: center;
  font-size: 16px; /* Tamaño de texto predeterminado */
}

/* @media queries para ajustar el tamaño del texto según el ancho de la pantalla */

/* Para móviles */
@media (max-width: 576px) {
  .responsive-text {
    font-size: 14px; /* Tamaño de texto para móviles */
  }
}

/* Para tabletas */
@media (min-width: 577px) and (max-width: 992px) {
  .responsive-text {
    font-size: 18px; /* Tamaño de texto para tabletas */
  }
}

/* Para escritorios */
@media (min-width: 993px) and (max-width: 1200px) {
  .responsive-text {
    font-size: 20px; /* Tamaño de texto para escritorios */
  }
}

/* Para pantallas grandes */
@media (min-width: 1201px) {
  .responsive-text {
    font-size: 24px; /* Tamaño de texto para pantallas grandes */
  }
}
