@import url(fonts/stylesheet.css);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
*{
    margin: 0px;
}
h1,h2,h3,h4,h5{
    font-family: "Nexa";
    font-weight: 900;
    color: white;
}
p{
    font-family: "Poppins";
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
button{
    font-family: "Nexa";
    font-size: 16px;
    color: white;
    display: flex;
    padding: 8px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #008EDE;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}
button:hover{
    cursor: pointer;
}
/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    background-color: #2D2F35;
}
::-webkit-scrollbar-thumb {
    background: #00A3FF; 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background: #008EDE; 
}
/* MargenDesktop */
.justifyDesktop{
    margin: 0px 34px 112px 176px;
}
/* NAVBAR */
.navbar-desktop{
    position: fixed;
    display: inline-flex;
    height: 100%;
    padding: 0px 16px 0px 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(290deg, rgb(18, 58, 82) 0%, rgba(0, 142, 222, 1) 100%);
    box-shadow: 4px 0px 16px 0px rgba(0, 240, 255, 0.20);
    z-index: 2;
}
.navbar-desktop-logo{
    width: 96px;
    height: 96px;
    margin: 36px 0px 36px 0px;
    flex-shrink: 0;
    border-radius: 96px;
    background: url(images/mi-logo-gris-turquesa.png) 50% / cover no-repeat;
    filter: brightness(0) invert(1)
}
.navbar-icon-desktop{
    width: 55px;
    height: 55px;
    top: 20px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    color: white;
}
.navbar-icons-desktop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.navbar-desktop-socialnetworks-icon{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.navbar-desktop-socialnetworks-icons{
    display: flex;
    flex-direction:column;
    gap: 15px;
    justify-content: space-between;
    margin: 36px 0px 36px 0px;
}
/* NAVBAR MOBILE */
.navbarMobileLayout{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background: linear-gradient(290deg, rgb(18, 58, 82) 0%, rgba(0, 142, 222, 1) 100%);
}
.navbarMobileLogo{
    width: 56px;
    height: 56px;
    border-radius: 66px;
    padding: 16px;
    filter: brightness(0) invert(1)
}
.navbarBurguerIcon{
    display: flex;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 16px;
    cursor: pointer;
}
.menuDesplegableLayout{
    background-color: white;
    position: fixed;
    top: 88px;
    padding: 0px 0px 24px 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    z-index: 3;
}
.menuDesplegableSeccionTextoLayout{
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    padding: 8px;
}
.menuDesplegableSeccionRedesLayout{
    display: flex;
    padding: 0px 8px;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
}
.menuDesplegableTextosLayout{
    display: flex;
    padding: 8px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}
.menuDesplegableTextosLayout h3{
    color: black;
}
.menuDesplegableRedesLayout{
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 12px;
}
.menuDesplegableRedesLayout h5{
    color: #737373;
}
.menuDesplegableIconosRedes{
    display: flex;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
}

/* TOOLTIP NAVBAR */
.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid black; 
  }
/* GRADIANT BACKGROUND */
.backgroundEffect{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    background-color: rgba(45, 47, 53);
    background: linear-gradient(292deg, rgba(219, 0, 255, 1) 0%, rgba(113, 29, 132, 1) 8%, rgba(45, 47, 53, 1) 40%, rgba(45, 47, 53, 1) 55%, rgba(19, 101, 150, 1) 92%, rgba(0, 142, 222, 1) 100%);
}
/* BIENVENIDA HOME */
.home{
    display: flex;
    padding: 72px 0px;
    height: 75vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    align-self: stretch;
}
.titleHomeLayout{
    display: flex;
    padding: 40px 48px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.homeLogo{
    width: 228px;
    height: 228px;
    flex-shrink: 0;
    border-radius: 228px;
    filter: drop-shadow(0 0 3.5rem rgba(0, 142, 222, 0.2));
}
.parrafoHome{
    display: flex;
    width: 576px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* SOBRE MI HOME */
.sobreMiLayout{
    display: flex;
    height: 75vh;
    padding: 32px 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}
.TituloSobreMi{
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.parrafoSobreMi{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.imgSobreMi{
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 5rem rgba(221, 0, 255, 0.5));
}
/* HABILIDADES HOME */
.habilidadesLayout{
    display: flex;
    flex-direction: row;
    height: 75vh;
    padding: 32px 24px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 32px;
    align-self: stretch;
    flex-wrap: wrap;
}
.habilidadesLayoutTextos{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
    width: 45%;
}
.habilidadesParrafo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.habilidadesTitulo{
    display: flex;
    align-items: center;
}
.barrasHabilidadLayout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 45%;
}
.barraHabilidadLayout{
    display: flex;
    flex-direction: row;
    padding: 8px 22px 8px 0px;
    justify-content: start;
    align-items: center;
    gap: 32px;
}
.imgBarraHabilidad{
    display: flex;
    width: 96px;
    height: 96px;
    justify-content: center;
    align-items: center;
}
.barraHabilidad{
    margin: auto;
    width: 400px;
    height: 24px;
    border-radius: 12px;
    background: #D9D9D9;
}
/* PROYECTOS HOME */
.proyectosHomeLayout{
    display: flex;
    height: 75vh;
    padding: 32px 24px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}
.justifyTitleStart{
    width: 100%;
    display: flex;
    justify-content: start;
}
/* PAGE PROYECTOS */
.layoutProjectPage{
    margin: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectPageTitle{
    display: flex;
    padding: 40px 48px;
    align-items: start;
    align-self: stretch;
}
.projectsLayout{
    display: flex;
    padding: 32px;
    gap: 80px;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    align-self: stretch;
    flex-wrap: wrap;
}
.cardProyecto{
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 32px;
    background: url(images/mi-logo-gris-turquesa.png) lightgray 50% / cover no-repeat;
    box-shadow: 2px 4px 4px 2px rgba(62, 62, 62, 0.35);
}
.cardProyecto:hover{
    filter: drop-shadow(0 0 5rem rgba(221, 0, 255, 0.5));
}
.cardProyectoFondoTitulo{
    display: flex;
    width: 250px;
    height: 56px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    flex-wrap: wrap;
    border-radius: 0px 0px 32px 32px;
    background: linear-gradient(90deg, #000 50%, rgba(0, 0, 0, 0.40) 100%);
    position: relative;
    top: 194px;
}
.cardProyectoTitulo{
    display: flex;
    padding: 4px 20px;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* FOOTER */
.footerLayout{
    display: flex;
    padding: 8px 24px 40px 24px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
    background: #111111;
}
.footerContect{
    display: flex;
    min-width: 360px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.footerTitleLayout{
    display: flex;
    padding: 40px 48px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.footerTitleText{
    font-size: 32px;
    font-weight: 500;
    color: white;
}
.footerContacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.ContactContent{
    display: flex;
    padding: 0px 48px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.ContactVector{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.textContacts{
    font-size: 26px;
    font-weight: 500;
    color: white;
}
@media (max-width: 768px) {
    .navbarDesktopShow {
        display: none !important;
    }
    .navbarMobileShow {
        display: block !important;
    }
    .justifyDesktop{
        margin: 0px;
    }
}

@media (min-width: 769px) {
    .navbarDesktopShow{
        display: block !important;
    }
    .navbarMobileShow {
        display: none !important;
    }
}