/* STYLES CSS */

/* Definir las fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu+Mono:ital,wght@0,700;1,400&display=swap');

/* Definir las variables */
:root {
    --Monochrome-Lighter: #F2F2F2;
    --Monochrome-Darker: #262626;
}

/* Estilos generales para el cuerpo */
body {
    background-color: var(--Monochrome-Lighter);
    margin: 0;
    font-family: 'Open Sans', sans-serif; /* Utilizar Open Sans como la fuente predeterminada */
    font-style: normal;
    line-height: normal;
}

/* Estilos para los encabezados */
h1 {
    color: var(--Monochrome-Lighter);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.48px;
}
